.error-boundary {
  padding: 20px;
  background-color: #fff1f1;
  border: 1px solid #ffcdd2;
  border-radius: 4px;
  color: #d32f2f;

  p {
    margin: 0;
  }

  .error-message__title {
    font-weight: bold;
  }

  .error-message {
    margin-top: 10px;
  }
}
