@use '../../lib/variables';

.tour__wrapper {
  visibility: hidden;
  position: absolute;
  background-color: gray;
  height: auto;
  top: 0;
  z-index: variables.$tour-wrapper-z-index;
  left: 0;
  transition: translate 300ms ease, opacity 300ms ease, width 300ms ease;
  opacity: 0;
  border: 2px solid darkorchid;
  max-width: 400px;
  width: 100%;
}

.tour__wrapper--visible {
  visibility: visible;
  opacity: 1;
}

.tour__step-info {
  background-color: rgb(222, 222, 222);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tour__skip-btn {
  padding: 5px;
  background-color: lightcoral;
}

.tour__content {
  padding: 10px;
  color: white;
}

.tour__actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  padding: 10px;
  background-color: rgb(61, 61, 61);
}

.tour__next-btn {
  padding: 5px;
  background-color: lightgreen;
}

.tour__target {
  outline-width: variables.$outline-width;
  outline-color: red;
  outline-style: solid;
  position: relative;
  z-index: variables.$tour-target-z-index;
  outline-offset: variables.$outline-offset;
}
